{{template "base" .}}
{{define "content"}}
	<h1>Celestron NexStar 8 SE</h1>
      <p><a href="/static/images/gear8se.jpg"><img src="/static/images/gear8se.jpg" alt="8SE" class="img-fluid"></a></p>
      <p>This was my first telescope, purchased in the USA when the Australian dollar was particularly high. It came with a very portable Alt/Az mount. The only modification I made was  to add a 2 inch visual back and 2 inch dielectric diagonal. Although I have now sold this scope, I still would recommend it to a beginner or visual observer. It's easy to use and a great way to get started. </p>
      <p>Here you can see the scope on the terrace with the French alps in the background.</p>
      <p>The hand controller is well designed and easy to use, and it's not too hard to hook it up to a laptop and control it from <a href="http://www.stellarium.org/" target="_blank">Stellarium</a>. 8 inches is a good size for an SCT and the views are correspondingly good. It's easy to pick up the whole thing (OTA, mount etc) and carry it to wherever you want it. Alignment only takes a few minutes; even for a beginner. </p>
      <p>The mount is powered by  AA batteries, but it's better when these are just used as backups and the scope is powered from a transformer or a 12V car starter battery.</p>
      <p>On the down side there are some limitations of the NexStar. The single fork arm is a bit shaky when you touch the scope, even when focusing. You just have to wait until it settles down.  If you want to do some astrophotography, the mount isn't up to the task. Although it can be easily 'de-forked' and moved to a more stable mount, the OTA does suffer from  coma and mirror flop. </p>
      <ul>
        <li>Type : <a href="http://en.wikipedia.org/wiki/Schmidt-Cassegrain" target="_blank">Schmidt-Cassegrain</a></li>
        <li>Aperture : 203mm </li>
        <li>F number : f10</li>
        <li>Acquired : May 2008</li>
      </ul>
{{end}}