{{template "base" .}}
{{define "content"}}
<h1>Astrophotography Terminology</h1>
<p>&nbsp;</p>
<p>Atlas - Popular mount made by Orion. Same as EQ6</p>
<p>ACF - Advanced Coma Free - Type of Meade telescope</p>
<p>ABG - Anti Bloom Gate - <a href="http://www.ccd.com/ccd102.html">Explanation</a></p>
<p>ALT/AZ - Altitude-Azimuth - A type of telescope mount</p>
<p>AO - Adaptive Optics</p>
<p>AO-7, AO-8, AO-L - SBIG Adaptive Optics products</p>
<p>APO - Apochromat - A type of refractor teleascope</p>
<p>ASA - Astrosysteme Austria - Telescope and mount manufacturer. <a href="http://www.astrosysteme.at/">Homepage</a></p>
<p>ATS - retailer - <a href="http://www.atscope.com.au/">Homepage</a></p>
<p>BIN - Pixel Binning. <a href="http://www.ccd.com/ccd103.html">Explanation</a></p>
<p>CCD - Type of digital camera image sensor</p>
<p>CMOS - Type of digital camera image sensor</p>
<p>CPC - Series of fork mounted SCT telescopes by Celestron</p>
<p>CN -Cloudy Nights - Popular USA based Astronomy Forum. <a href="http://www.cloudynights.com/">Homepage</a></p>
<p>CGE - Heavy Duty Computerized Mount by Celestron.</p>
<p>DEC - Declination - <a href="https://en.wikipedia.org/wiki/Declination">Wiki page</a></p>
<p>DSI - Series of CCD camera by Meade</p>
<p>DSLR - Digital Single Lens Reflex - type of digial camera</p>
<p>ED - Extra low Dispersion - a characteristic of high quality lenses</p>
<p>ED80 - Popular 80 mm ED refractor by Orion. <a href="http://www.telescope.com/control/product/~category_id=astro-imaging_scopes/~pcategory=astro-imaging/~product_id=09895">Product page</a>.</p>
<p>ED127 - 127 mm Triplet made by JOC and sold under a variey of brands.</p>
<p>EQ - Equatorial - A type of telescope mount</p>
<p>EQ5 - Computerised mount by Sky-watcher.</p>
<p>EQ6 - Computerised mount by Sky-watcher.</p>
<p>EQMOD - Telescope scontrol software. <a href="http://eq-mod.sourceforge.net/">Homepage</a></p>
<p>FLI - Finger Lakes Instruments - <a href="http://www.flicamera.com/">Homepage</a></p>
<p>FOV - Field of View</p>
<p>FWHM - Full width at half maximum. <a href="https://en.wikipedia.org/wiki/Full_width_at_half_maximum">Wiki page</a>.</p>
<p>FSQ - Quadruplet Fluorite Apochromatic Refractor range by Takahashi </p>
<p>GM 8 - Mount by Losmandy <a href="http://www.losmandy.com/gm8.html">Product Page</a></p>
<p>G-11 - Mount by Losmandy. <a href="http://www.losmandy.com/g-11.html">Product Page</a></p>
<p>GEM - German Equitoral Mount</p>
<p>GSO - Guan Sheng Optical - telescope manufacturer. <a href="http://www.gs-telescope.com/">Homepage</a>.</p>
<p>HGM TITAN - Mount by Losmandy. <a href="http://www.losmandy.com/hgm-titan.html">Product Page</a></p>
<p>IIS - Ice In Space - Popular Australian Astronomy Forum. <a href="http://www.iceinspace.com.au/">Homepage</a>.</p>
<p>LRGB - Luminance , Red, Green, Blue</p>
<p>MN - Maksutov-Newton - Catadioptric telescope with meniscus lens / corrector plate</p>
<p>NABG - Non Anti Bloom Gate (i.e. this CCD will bloom) - <a href="http://www.ccd.com/ccd102.html">Explanation</a></p>
<p>NGC - New General Catalogue - well-known catalogue of deep sky objects. <a href="https://en.wikipedia.org/wiki/New_General_Catalogue">Wiki page</a>.</p>
<p>MOAG - Manual Off-Axis Guider by Astrodon</p>
<p>OAG - Off Axis guider</p>
<p>OPT - Retailer. <a href="http://www.optcorp.com/">Homepage</a></p>
<p>PE - Periodic Error</p>
<p>PEC - Periodic Error Correction</p>
<p>PME - Paramount ME - Advanced robotic telescope mount . <a href="http://www.bisque.com/sc/pages/Paramount-ME.aspx">Product Page</a></p>
<p>PGC - Principal Galaxies Catalogue. <a href="https://en.wikipedia.org/wiki/Principal_Galaxies_Catalogue">Wiki page</a></p>
<p>PS - Adobe Photoshop</p>
<p>PST - range of solar telescopes by Coronado. <a href="http://www.coronadofilters.com/">Homepage</a></p>
<p>PHD - Push Here Dummy - Guiding Software. <a href="http://www.stark-labs.com/phdguiding.html">Product Page</a>.</p>
<p>QSi - CCD Manufacturer. <a href="http://www.qsimaging.com/">Homepage</a></p>
<p>RA - Right ascension - <a href="https://en.wikipedia.org/wiki/Right_ascension">Wiki page</a></p>
<p>RC -Ritchey-Chr&eacute;tien - specialized Cassegrain telescope designed to eliminate coma. <a href="https://en.wikipedia.org/wiki/Ritchey-Chr%C3%A9tien">Wiki page</a>.</p>
<p>RCOS - High end Ritchey-Chr&eacute;tien Manufacturer. <a href="http://www.rcopticalsystems.com/">Homepage</a></p>
<p>SCT - Schmidt-Cassegrain telescope - a type of catadioptric telescope. <a href="https://en.wikipedia.org/wiki/Schmidt-Cassegrain">Wiki Page</a>.</p>
<p>SSP - South Celestial Pole</p>
<p>SBIG - CCD Manufacturer. <a href="http://www.sbig.com/">Homepage</a></p>
<p>SN - Schmidt-Newtonian. <a href="https://en.wikipedia.org/wiki/Schmidt-Newtonian">Wiki page</a>.</p>
<p>SN8 - 8&quot; Schmidt-Newtonian by Meade</p>
<p>ST / STL / STX - SBIG CCD Camera series</p>
<p>TAK - Takahashi - Japanses telescope and mount manufacturer. USA <a href="http://www.takahashiamerica.com/">homepage</a></p>
<p>TMB - Thomas M. Back - legendary optical designer and optical company</p>
<p>WO - William Optics. <a href="http://www.williamoptics.com/">Homepage</a>.</p>
<p>&nbsp;</p>
<p>This is just a start, send me an email if I missed your favourite.</p>
{{end}}