{{template "base" .}}
{{define "content"}}
<h1>Bahtinov Mask</h1>
<p>I decided to make a Bahtinov Mask to help with focusing. It works very well indeed.
    Here is a short video that demonstrates how it works. When the diffraction lines are in the center, the star is in focus.</p>
<iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/TWcsk6zEAC0?si=7skSNgjgX1QM2Qxf"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
</iframe>
<p>The video was made with 8SE mounted on an EQ6 with SPC900NC web camera. The 'star' in this example is in fact Venus.</p>
<p> You can buy a professionally made mask, or you can simply cut it out of plastic of cardboard yourself as I have done.
    To make your own mask, there is an excellent template generator available <a href="https://satakagi.github.io/tribahtinovWebApps/Bahtinov.html" target="_blank">here</a>.
    Print out the template and tape it to a stiff piece of plastic. Use a sharp box cutter to carefully cut out the white slits.</p>
<p>When you need to focus, simply slew to a bright star. Carefully center it in the field of view and place the mask over the end of the telescope.
    As you focus in and out the horizontal line will move up and down. When it is perfectly centered, the star is in focus.
    The big advantage with the Bahtinov mask it that it not only makes the exact point of focus easy to see, it also indicates which direction the focus must be moved to achieve perfect focus.
    This 'directionality' really speeds up the focusing process.</p>
{{end}}