{{template "base" .}}
{{define "content"}}
	<h2>GSO 8&quot; RC</h2>
    <p>I purchased this scope as a replacement for the Celestron NexStar 8SE. It has the same aperture, but a different optical and mechanical design. Overall it is far more suited to astrophotography, whereas the NexStar is really designed for visual use.</p>
    <p>The Ritchey Chr&eacute;tien design is based around  hyperbolic primary and  secondary mirrors. Like all telescopes, it's a compromise. In my view, the key benefits are as follows:</p>
    <ul>
        <li>Reduced coma</li>
        <li>Fixed Primary Mirror (does not move during imaging)</li>
        <li>Short tube length (performs better in windy conditions and easier to handle)</li>
        <li>No chromatic aberration (mirror only design)</li>
        <li>Open Tube design / No corrector plate (fast cool down and less dew build up than SCT or Mak-newt)</li>
        <li>ideal Camera location (Easy to balance, fixed hard to back plate and primary / less tube sag) </li>
    </ul>
    <p>Disadvantages:</p>
    <ul>
        <li>Field curvature</li>
        <li>Diffraction spikes</li>
        <li>No rear cooling fans on the 8&quot; version</li>
        <li>Requires careful collimation</li>
    </ul>
    <p>It is a relatively new product, manufactured by <a href="http://www.gs-telescope.com/content.asp?id=149">Guan Sheng Optical</a> in Taiwan.
    The focuser is based around a Hiwin Linear Guideway.
    So far I have no issues with the focuser.</p>
    <p><img src="/static/images/gsorc.jpg" alt="GSO8 RC" class="img-fluid"></p>
    <p>Specifications:</p>
    <ul>
        <li>Type : <a href="https://en.wikipedia.org/wiki/Ritchey-Chr%C3%A9tien_telescope#Commercial_Instruments" target="_blank">Ritchey-Chr&eacute;tien</a></li>
        <li>Aperture : 203mm </li>
        <li>Focal Length : 1,625mm</li>
        <li>F number : f/8</li>
        <li>Acquired : September 2009</li>
        <li>Focuser travel :	50mm</li>
        <li>Guideway width : 9.00 mm</li>
    </ul>
    <h2>Guides</h2>
    <p>I have moved my <a href="/gso8rccollimate"> guide to collimation here</a>.</p>
    <p>I have also developed a <a href="/gso8rcpointing">disassembly guide here</a>.</p>
{{end}}