{{template "base" .}}
{{define "content"}}
<h1>General</h1>
<ul>
  <li><a href="http://www.iceinspace.com.au/forum/index.php" target="_blank">IceInSpace</a></li>
  <li><a href="http://www.cloudynights.com/index" target="_blank">CloudyNights</a></li>
  <li><a href="http://skippysky.com.au/Australia/" target="_blank">SkippySky</a></li>
  <li><a href="http://astrometry.net/" target="_blank">Astrometry</a></li>
  <li><a href="http://apod.nasa.gov/apod/" target="_blank">APOD</a></li>
  <li><a href="http://cloudsofmagellan.net.au" target="_blank"> Clouds of Magellan </a></li>
</ul>
<h2>Software</h2>
<p>These are the key Software packages I use and highly recommend:</p>
<ul>
  <li><a href="https://nighttime-imaging.eu/" target="_blank">N.I.N.A.</a></li>
  <li><a href="https://www.bisque.com/product/theskyx-pro/" target="_blank">TheSkyX Pro</a></li>
  <li><a href="http://ascom-standards.org/" target="_blank">ASCOM</a></li>
  <li><a href="https://ccdware.com/ccdstack_overview/" target="_blank">CCDStack</a></li>
  <li><a href="https://ccdware.com/ccdinspector_overview/" target="_blank">CCD Inspector</a></li>
  <li><a href="https://www.occultwatcher.net/" target="_blank">Occult Watcher</a></li>
  <li><a href="http://eq-mod.sourceforge.net/" target="_blank">EQMOD</a></li>
  <li><a href="https://openphdguiding.org/" target="_blank">PHD2 Guiding</a></li>
  <li><a href="http://www.stellarium.org/" target="_blank">Stellarium</a></li>
</ul>
<h2>Gear</h2>
<p>Stuff I use or have used in the past</p>
<ul>
  <li><a href="https://www.bisque.com/" target="_blank">Bisque</a> Paramount ME</li>
  <li><a href="https://skywatcher.com/" target="_blank">Sky-Watcher</a> EQ6</li>
  <li><a href="https://diffractionlimited.com/diffraction-cameras/" target="_blank">SBIG</a> STL-11000M</li>
  <li><a href="https://www.qhyccd.com/" target="_blank">QHY CCD</a> QHY9 + QHY5</li>
  <li><a href="https://www.rigelsys.com/" target="_blank">Rigel</a> PulsGuide</li>
  <li><a href="http://www.gs-telescope.com/content.asp?id=149" target="_blank">GSO</a> 8RC</li>
</ul>

<h2>Australian Astrophotography</h2>
<p>Web sites of other Australian Astrophotographers. Let me know if you find some that I have missed.</p>
<ul>
  <li><a href="https://www.atalas.net/" target="_blank">Louie Atalasidis</a></li>
  <li><a href="https://www.pbase.com/gregbradley/greg_bradley_astrophotos" target="_blank">Greg Bradley</a></li>
  <li><a href="https://astrophoto.com.au/" target="_blank">Tim Carruthers</a></li>
  <li><a href="https://www.terrastro.com/" target="_blank">Alex Cherney</a></li>
  <li><a href="http://www.zodiaclight.com/" target="_blank">Bill Christie</a></li>
  <li><a href="https://www.russellsastronomy.com/" target="_blank">Russell Cockman</a></li>
  <li><a href="https://members.pcug.org.au/~stevec/" target="_blank">Steve Crouch</a></li>
  <li><a href="https://www.pbase.com/gailmarc/photography" target="_blank">Marcus Davies</a></li>
  <li><a href="https://www.pbase.com/takman2/astrophotography" target="_blank">John Glossop</a></li>
  <li><a href="https://www.philhart.com/" target="_blank">Phil Hart</a></li>
  <li><a href="https://ballaratman.wixsite.com/mallincamimages" target="_blank">Ken James</a></li>
  <li><a href="https://cosmicphotos.com/" target="_blank">Jason Jennings</a></li>
  <li><a href="http://mstecker.com/pages/appjuchnowski.htm" target="_blank">Steven Juchnowski</a></li>
  <li><a href="https://www.astro-photo.net/GDKs_Astrophotography/GDKs_Astrophotography.html" target="_blank">Grahame Kelaher</a></li>
  <li><a href="http://www.hristopavlov.net/" target="_blank">Hristo Pavlov</a></li>
  <li><a href="https://www.martinpughastrophotography.space/" target="_blank">Martin Pugh</a></li>
  <li><a href="https://www.pbase.com/octane2/astrophotography" target="_blank">Humayun Qureshi</a></li>
  <li><a href="https://www.pbase.com/strongmanmike2002" target="_blank">Michael Sidonio</a></li>
  <li><a href="https://astroshed.com/" target="_blank">Eddie Trimarchi</a></li>
  <li><a href="https://www.atscope.com.au/BRO/bardenridgeobs.html" target="_blank">Peter Ward</a></li>
</ul>
{{end}}