{{template "base" .}}
{{define "content"}}
<h1>MaxIm DL Tips</h1>
<p>Maxim DL is a fantastic piece of software - there isn't much it can't do. Here are some of my tips for using
    this software that might not be immediately obvious to a new user.</p>
<h2>How to Identify Objects in a Image</h2>
<p>In this image I took of <a href="/show?id=ic2944" target="_blank">IC2944</a>
    I noticed what looked like a small <a href="https://en.wikipedia.org/wiki/Planetary_nebula" target="_blank">Planetary Nebula</a>
    in the lower left corner. Here is a close up:</p>
<p><img src="/static/images/maximdl1.jpg" alt="IC2944 He2-72/PNG294.9-00.6 (Planetary Neb.)" class="img-fluid"></p>
<p>But is it a Planetary nebula or is it just a piece of dust in the telescope or an unwanted reflection?
    One way to find out is to search a catalogue and look for a known object in the same location.
    Here is a easy way to do it in Maxim DL.</p>
<p>First off, make sure your telescope is connected to Maxim DL when you take your images.
    If you do this, Maxim DL will save the approximate RA and DEC coordinates in the FITS header.</p>
<p>Then with the desired image open in Maxim DL, plate solve by selecting Analyze-&gt;PinPoint Astrometry -&gt; Process.
    If the plate solve is successful, the following screen will be displayed. Click on the close Button.</p>
<p><img src="/static/images/maximdl2.jpg" alt="Astrometry" class="img-fluid"></p>
<p>Then on the Observatory window, select the Zoom tab, Click the Options drop down menu and select 'Overlay Image'</p>
<p><img src="/static/images/maximdl3.jpg" alt="Observatory Window" class="img-fluid"></p>
<p>Now your image is overlaid on the Planetarium Program within Maxim DL.
    In the Planetarium Program, known objects are highlighted with squares or circles.
    In the image below, you can see there is a small green circle in the same region as my suspected Planetary Nebula.
    If you click on the known object the name is displayed in the info area at the top, and in this case the name is
    revealed as &quot;He2-72/PNG294.9-00.6 (Planetary Neb.)&quot;. Case closed.</p>
<p><img src="/static/images/maximdl4.jpg" alt="Maxim DL Find Object" class="img-fluid"></p>
{{end}}
