{{template "base" .}}
{{define "content"}}
<h1>Meteor Camera</h1>
<p>Here are some pictures of my first prototype meteor camera.</p>
<p>The components are:</p>
<table class="table table-hover table-bordered">
  <tr>
    <td>Camera</td>
    <td>WAT 902H 1/2&quot; CCD</td>
  </tr>
  <tr>
    <td>Lens</td>
    <td>Cosmicar Pentax Aspheric 4mm F0.75 1/3&quot; TS407E-ASP</td>
  </tr>
  <tr>
    <td>Capture Card</td>
    <td>TW-100 4 port capture card with 64 bit drivers</td>
  </tr>
  <tr>
    <td>Software</td>
    <td>
      <p>Windows 7 64 Bit<br>
        <a href="https://sonotaco.com/e_index.html" target="_blank">UFOCapture</a>
      </p>
    </td>
  </tr>
  <tr>
    <td>DC Iris Control</td>
    <td>WAT HC-01</td>
  </tr>
  <tr>
    <td>Housing</td>
    <td>Jaycar Aluminium External Camera Housing with Inbuilt Heater QC3331 and QC-3337 mounting bracket</td>
  </tr>
  <tr>
    <td>Power</td>
    <td>10amp Power supply</td>
  </tr>
</table>
<p>Internal view showing the camera, lens and WAT HC-01 Iris control cable on the top.</p>
<p><img src="/static/images/meteor1.jpg" alt="Meteor Cam" class="img-fluid"></p>
<p>The camera is mounted on the side of my observatory and is pointing south to keep the sun and moon out of the field of view.</p>
<p><img src="/static/images/meteor2.jpg" alt="Meteor Cam" class="img-fluid"></p>
<p>First light meteor to celebrate the start of daylight savings : 2011/10/02 04:09AM</p>
<p><img src="/static/images/Meteor3.jpg" alt="Meteor" class="img-fluid"></p>
<p>Video version (4.6 Mb):</p>
<p><a href="/static/images/MeteorDetect-0001.avi">MeteorDetect-0001</a></p>

<h2>UFOCapture Gallery</h2>
<p>A selection of meteor and UFO detections captured by the camera.</p>
<div class="row">
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo1.jpg"><img src="/static/meteor/ufo1.jpg" alt="UFO capture 1" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo2.jpg"><img src="/static/meteor/ufo2.jpg" alt="UFO capture 2" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo3.jpg"><img src="/static/meteor/ufo3.jpg" alt="UFO capture 3" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo4.jpg"><img src="/static/meteor/ufo4.jpg" alt="UFO capture 4" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo5.jpg"><img src="/static/meteor/ufo5.jpg" alt="UFO capture 5" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo6.jpg"><img src="/static/meteor/ufo6.jpg" alt="UFO capture 6" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo7.jpg"><img src="/static/meteor/ufo7.jpg" alt="UFO capture 7" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufo8.jpg"><img src="/static/meteor/ufo8.jpg" alt="UFO capture 8" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos1.jpg"><img src="/static/meteor/ufos1.jpg" alt="UFO capture 9" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos2.jpg"><img src="/static/meteor/ufos2.jpg" alt="UFO capture 10" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos3.jpg"><img src="/static/meteor/ufos3.jpg" alt="UFO capture 11" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos4.jpg"><img src="/static/meteor/ufos4.jpg" alt="UFO capture 12" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos5.jpg"><img src="/static/meteor/ufos5.jpg" alt="UFO capture 13" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos6.jpg"><img src="/static/meteor/ufos6.jpg" alt="UFO capture 14" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos7.jpg"><img src="/static/meteor/ufos7.jpg" alt="UFO capture 15" class="img-thumbnail"></a></div>
  <div class="col-md-3 col-sm-6 mb-3"><a href="/static/meteor/ufos8.jpg"><img src="/static/meteor/ufos8.jpg" alt="UFO capture 16" class="img-thumbnail"></a></div>
</div>
{{end}}
