{{template "base" .}}
{{define "content"}}
	<h1>Maxvision   MN152 F4.8 Maksutov-Newtonian</h1>
		<p>Saturday, October 25, 2008</p>
      <p>I had a mission this weekend.... I spotted a notice on Cloudy Nights, <a href="http://www.cloudynights.com/ubbthreads/showflat.php/Cat/0/Number/2672096/page/1/view/collapsed/sb/5/o/all/fpart/1" target="_blank">FREE SAMPLE!</a> in the small German town of Leverkusen.
      There had been a trade show <a href="http://www.photokina-cologne.com/" target="_blank">Photokina</a> in the town a few weeks ago,
      and one of the demonstrators had left some of his astronomy equipment rather than carry it back to Asia.
      Being only 6 hours drive away, I couldn't let this opportunity pass.<br>
      </p>
      <p>So early Saturday morning - precisely 6am - we left for a weekend road trip... destination: Leverkusen - location: halfway between Cologne and Düsseldorf on the eastern bank of the Rhine.
        The autobahn... and the need for speed. </p>
      <p><img src="/static/images/MN152-1-DSC_6643.jpg" alt="Roadtrip" class="img-fluid"></p>
      <p> In some areas, the road spreads out and the speed limit is left behind... </p>
      <p><img src="/static/images/MN152-2-DSC_6632.jpg" alt="120" class="img-fluid"></p>
      <p> We definitely liked seeing this sign.... no more speed restrictions. </p>
      <p><img src="/static/images/MN152-3-DSC_6646.jpg" alt="ThePrize" class="img-fluid"></p>
      <p>Finally arriving at the Best Western Hotel in Leverkusen, and one happy customer! The notice on CloudyNights was true, and not a scam.<br>
      </p>
      <p><img src="/static/images/MN152-4-DSC_6648.jpg" alt="Open case" class="img-fluid"></p>
      <p> I am now the proud new owner of another telescope...</p>
      <p>There was also a few spotting scopes and binoculars thrown in as well.<br>
        <br>
        With the primary mission accomplished, it was off to do a bit of touring around Köln. </p>
      <p><img src="/static/images/MN152-5-DSC_6668.jpg" alt="Dom" class="img-fluid"></p>
      <p> The &quot;Hohe Domkirche St. Peter und Maria&quot; or otherwise known as the &quot;Köln Dom&quot; is one of the best-known architectural monuments in Germany.
        It is one of the world's largest churches, being the largest Gothic church in Northern Europe. For four years, 1880-84, it was the tallest structure in the world.
        The cathedral suffered during World War II, but it did not collapse in an otherwise flattened city. Believers said it was divine intervention.
        The repairs to the building were completed in 1956. A very majestic building.</p>
      <h2>So what do I think of this telescope?</h2>
      <p>This is a very interesting telescope to own! I believe it was made by <a href="http://www.joctech.com/" target="_blank">Jinghua Optics &amp; Electronics Co</a> in China	and
      has been sold under the brand names MaxVision and as the &quot;David Levy Comet Hunter&quot;.
      The Maxvision version was announced <a href="http://www.cloudynights.com/ubbthreads/showflat.php/Cat/0/Number/2604086/Main/2598548" target="_blank">here</a> on CloudyNights back in August 2008.</p>
      <p>The Mak-Newt design has a front corrector plate, but unlike the Schmidt-Cassegrain, this one is more steeply curved, in fact I believe it is spherical.
        Because of this the stars do not have diffraction spikes that occur with spider vanes The tube is made of black carbon fiber and it looks great.<br>
        The scope came with a handy aluminium carry case and several other accessories courtesy of MaxVision.</p>
      <p>I feel that I'm yet to get the most out of this scope.
        Up until recently I was not getting pinpoint stars to the edge of the field, and I suspect was because the collimation was out and the mirror clips were too tight. <a href="/show?id=ngc5139">Here</a> is an example of the types of images I was getting - have a close look at the stars in the corners and you will see what I mean.</p>
      <p>Recently I have bought better collimation tools and the scope is now performing much better.</p>
<h2>Specifications</h2>
      <p>And for those who are interested in this kind of stuff, here are the specifications:</p>
      <ul>
        <li>Optical Type : Maksutov- Newtonian </li>
        <li>Aperture : 152 mm (6&quot;) </li>
        <li>Focal Length : 731mm </li>
        <li>Focal Ratio : f/4.8 </li>
        <li>Viewfinder : 8x50A W/Illuminator</li>
        <li>Focuser : 50.8 mm (2&quot;) 10:1 Two Speed Crawford Style</li>
      </ul>
      <p>Weights</p>
      <ul>
        <li>Mirror 787g</li>
        <li>Cell 1498g</li>
        <li>Secondary + Corrector Plate 1079g</li>
        <li>Corrector Plate Retaining Ring 301g</li>
        <li>Focuser 759g</li>
        <li>Carbon Fiber Tube 852g</li>
        <li>Finder Dovetail (x2) 80g each</li>
      </ul>
      <p>Dimensions</p>
      <ul>
        <li>Mirror 6&quot; (18mm thick) (says 750 x 150 on the back)</li>
        <li>Tube 1.7mm thick, x 650mm long x 175 wide</li>
      </ul>
      <p><br>
      </p>
{{end}}
