{{template "base" .}}
{{define "content"}}
<h1>Observatory</h1>
<p>Without an observatory, you quickly become very proficient at setting up and tearing down the telescope. But there are many benefits to having a permanent observatory where the telescope is always set up and all that needs to be done it to open the roof. If the clouds roll in, then it's no big deal to shut the roof and call it a night.</p>
<p>The ideas for the design were all gained from studying the many observatories detailed on the Internet, especially the <a href="http://www.cloudynights.com/forum/72-observatories/" target="_blank">dedicated forum</a> on Cloudy Nights. By sharing their observatory designs, all those who have gone before have helped me - and with this page I hope to help those who wish to build their own observatory in the future.</p>
<p>The key design goals for the observatory:</p>
<ul>
    <li>900 x 900 x 900 footing for the pier. Welded steel reinforcing cage inside the footing, based around 4 threaded rods</li>
    <li>10&quot; Steel pier that does not touch the floor of the observatory.</li>
    <li>Warm room / store room separate to the observatory</li>
    <li>Colorbond roof and walls clad with Texture 2000 EcoPly - this adds a lot of rigidity, especially when the roof is open</li>
    <li>Thermach Coverup used to create a dust and waterproof membrane. Dust cannot enter between the roof and the walls.</li>
    <li>Observatory roof to roll over the top of the warm room (to save garden space). Roof rolls on angle iron and v-groove wheels (see below)</li>
</ul>
<p>Lessons I learned from others:</p>
<ul>
    <li>Steel or cement pier? The <a href="http://www.cloudynights.com/ubbarchive/showflat.php/Cat/0/Number/168463/page/0/view/collapsed/sb/7/o/all/fpart/1/vc/1" target="_blank">7 ton pier</a> project outlines some of the difficulties of cement.</li>
    <li>Why not let the pier touch the floor? The &quot;<a href="http://www.cloudynights.com/ubbthreads/showflat.php?Cat=0&amp;Number=2183882&amp;page=0&amp;view=collapsed&amp;sb=9&amp;o=o&amp;vc=1" target="_blank">How not to build a pier footer!</a>&quot; thread is very informative</li>
    <li>How thick should the pier be? At least 8 or 10 inches - there is an excellent article on this topic <a href="http://www.cloudynights.com/item.php?item_id=1275" target="_blank">here</a>.</li>
</ul>
<figure class="figure">
    <a href="/static/images/observatorycube.jpg">
        <img src="/static/images/observatorycube_thumb.jpg" alt="Observatory" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Pier Cage. The wood is just a template.</figcaption>
</figure>

<figure class="figure">
    <a href="/static/images/observatoryframe.jpg">
        <img src="/static/images/observatoryframe_thumb.jpg" alt="Observatory" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Frame and view to the East</figcaption>
</figure>

<figure class="figure">
    <a href="/static/images/observatoryup.jpg">
        <img src="/static/images/observatoryup_thumb.jpg" alt="Observatory" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Walls and roof are up</figcaption>
</figure>

<figure class="figure">
    <a href="/static/images/observatorypainted.jpg">
        <img src="/static/images/observatorypainted_thumb.jpg" alt="Observatory" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Painting Done</figcaption>
</figure>

<h2>Roof Design</h2>
<p>Here are some closeups that show the custom made steel reinforcements for the roof truss, and the cast iron v-groove wheels and angle iron on the wall top plate.</p>
<p>The Observatry wall is slightly higher than the warm room, so the angle iron can be mounted just above the warm room roof.</p>

<figure class="figure">
    <a href="/static/images/observatoryroof.jpg">
        <img src="/static/images/observatoryroof_thumb.jpg" alt="Observatory Roof" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Close up of the rollover roof design, complete with cobwebs.</figcaption>
</figure>

<figure class="figure">
    <a href="/static/images/observatorytruss.jpg">
        <img src="/static/images/observatorytruss_thumb.jpg" alt="Observatory truss" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Closup showing steel reinforcement of the wooden roof truss</figcaption>
</figure>
<figure class="figure">
    <a href="/static/images/observatorywheel.jpg">
        <img src="/static/images/observatorywheel_thumb.jpg" alt="Observatory Wheel" class="img-thumbnail"></a>
    <figcaption class="figure-caption">Close up of v-groove cast iron wheel and inverted angle iron on wall top plate where it meets the warm room.</figcaption>
</figure>
{{end}}
