{{template "base" .}}
{{define "content"}}
<h1>Terrestrial images</h1>
<p>All images are 2560x1440. Click the image and press F11 to view full screen.</p>
<h2>Lake Eppalock</h2>
<p>October 2013</p>
<p><a href="/static/images/terrestial/lakeeppalock.jpg"><img src="/static/images/terrestial/lakeeppalock.jpg" alt="" class="img-fluid"></a></p>
<p>&nbsp;</p>
<h2>Two Bays Walking Track, Mornington Peninsula</h2>
<p>October 2013</p>
<p><a href="/static/images/terrestial/morningtonpenisusla.jpg"><img src="/static/images/terrestial/morningtonpenisusla.jpg" alt="" class="img-fluid"></a></p>
<h2>Tamarama Beach</h2>
<p>October 2013</p>
<p><a href="/static/images/terrestial/tamaramabeach.jpg"><img src="/static/images/terrestial/tamaramabeach.jpg" alt="" class="img-fluid"></a></p>
<p>&nbsp;</p>
<h2>Melbourne Aquarium</h2>
<p>August 2013</p>
<p><a href="/static/images/terrestial/aquarium.jpg"><img src="/static/images/terrestial/aquarium.jpg" alt="" class="img-fluid"></a></p>
<h2>Krakow, Poland</h2>
<p> Feb 2011</p>
<p><a href="/static/images/terrestial/krakow.jpg"><img src="/static/images/terrestial/krakow.jpg" alt="" class="img-fluid"></a></p>
<p>&nbsp;</p>
<h2> Near Vallee de Joux, Switzerland</h2>
<p>Oct 2008</p>
<p><a href="/static/images/terrestial/valleedejoux.jpg"><img src="/static/images/terrestial/valleedejoux.jpg" alt="Vallee de Joux" class="img-fluid"></a></p>
<p>&nbsp;</p>
<h2>Lac d'Emosson, Switzerland</h2>
<p>Oct 2006</p>
<p><a href="/static/images/terrestial/emosson.jpg"><img src="/static/images/terrestial/emosson.jpg" alt="Lac d'Emosson" class="img-fluid"></a></p>
<p>&nbsp;</p>
{{end}}
