{{template "base" .}}
{{define "content"}}

<h1>Thermal Camera Images</h1>
<p>These images were taken with a Fluke Ti25 IR Fusion Thermal Imager on 4 Sep 2014.</p>

<h3>Rear of OTA with sky in the background</h3>
<p><img src="/static/images/IR000895.jpg" alt="Rear of OTA with sky in the background" class="img-fluid"></p>

<h3>Closeup of rear of primary mirror</h3>
<p><img src="/static/images/IR000896.jpg" alt="Closeup of rear of primary mirror" class="img-fluid"></p>

<h3>Closeup of secondary mirror holder</h3>
<p><img src="/static/images/IR000897.jpg" alt="Closeup of secondary mirror holder" class="img-fluid"></p>

<h3>Primary mirror and mirror clips, center spot</h3>
<p><img src="/static/images/IR000898.jpg" alt="Primary mirror and mirror clips, center spot" class="img-fluid"></p>

<h3>Reflection of secondary in the primary mirror</h3>
<p><img src="/static/images/IR000899.jpg" alt="Reflection of secondary in the primary mirror" class="img-fluid"></p>

<h3>Rear of OTA against night sky</h3>
<p><img src="/static/images/IR000900.jpg" alt="Rear of OTA against night sky" class="img-fluid"></p>

<h3>Front of OTA and camera against night sky (with tree in background)</h3>
<p><img src="/static/images/IR000901.jpg" alt="Front of OTA and camera against night sky" class="img-fluid"></p>

<h3>Rear of OTA against night sky</h3>
<p><img src="/static/images/IR000902.jpg" alt="Rear of OTA against night sky" class="img-fluid"></p>

<h3>Closeup of primary / rear of OTA</h3>
<p><img src="/static/images/IR000903.jpg" alt="Closeup of primary / rear of OTA" class="img-fluid"></p>

<h3>Mount hub pro on side of OTA</h3>
<p><img src="/static/images/IR000904.jpg" alt="Mount hub pro on side of OTA" class="img-fluid"></p>

<h3>Closeup of primary mirror and mirror clips</h3>
<p><img src="/static/images/IR000905.jpg" alt="Closeup of primary mirror and mirror clips" class="img-fluid"></p>

<h3>Rear of OTA against observatory roof</h3>
<p><img src="/static/images/IR000907.jpg" alt="Rear of OTA against observatory roof" class="img-fluid"></p>

<h3>Rear of OTA against observatory roof</h3>
<p><img src="/static/images/IR000908.jpg" alt="Rear of OTA against observatory roof" class="img-fluid"></p>

<h3>Selfie</h3>
<p><img src="/static/images/IR000906.jpg" alt="Selfie" class="img-fluid"></p>

{{end}}
