{{template "base" .}}
{{define "content"}}
<style>
.video-container {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;
	background-color: #000;
	margin-bottom: 1rem;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.video-card {
	margin-bottom: 2rem;
}

.video-card h3 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.video-card .video-description {
	margin-bottom: 1rem;
	color: #666;
}

.video-card .video-date {
	font-size: 0.9rem;
	color: #999;
	font-style: italic;
}
</style>

<h1>Timelapse and other Videos</h1>

<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>New Year&#39;s Eve Fireworks 2013</h3>
					<p class="video-date">2013</p>
					<p class="video-description">The sequence was taken from Lake Mungo in outback NSW Australia.</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/C5bgB9aiEEI"
						title="New Year&#39;s Eve Fireworks 2013"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>ASV LMDSS time-lapse</h3>
					<p class="video-date">December 2012</p>
					<p class="video-description">Taken 15 December 2012 at the X-mas Star-Be-Cue</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/eTYiJX5fxCA"
						title="ASV LMDSS time-lapse"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>Total Eclipse 2012</h3>
					<p class="video-date">2012</p>
					<p class="video-description">From far north Queensland, Australia.</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/ppqWrObHKoE"
						title="Total Eclipse 2012"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>Bali sunsets and sunrises</h3>
					<p class="video-date">2012</p>
					<p class="video-description">This is raw footage with no audio.</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/ONKHcHnVVSE"
						title="Bali sunsets and sunrises"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>ASV LMDSS timelapse</h3>
					<p class="video-date">September 2012</p>
					<p class="video-description"> 13 September 2012 at LMDSS</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/dNoPY7Uj_VU"
						title="ASV LMDSS timelapse"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>Geminid meteor shower attempt</h3>
					<p class="video-date">2012</p>
					<p class="video-description">Unfortunately only a few small meteors visible.</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/YtZUJgBRUA8"
						title="Geminid meteor shower attempt"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>Moon timelapse</h3>
					<p class="video-date">2012</p>
					<p class="video-description">A view through the clouds.</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/VH9ytdt5X08"
						title="Moon timelapse"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="video-card">
				<h3>Full Transit of Venus 2012</h3>
					<p class="video-date">2012</p>
					<p class="video-description">The sequence was taken from Lake Mungo in outback NSW Australia.</p>
				<div class="video-container">
					<iframe
						src="https://www.youtube-nocookie.com/embed/1VtMXHJx7WM"
						title="Full Transit of Venus 2012"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
						loading="lazy">
					</iframe>
				</div>
			</div>
		</div>
</div>

{{end}}