{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/dsp.css" rel="stylesheet">
    <script src="/static/js/htmx.min.js"></script>
    <title>Deep Space Place{{block "title" .}}{{end}}</title>
    {{block "head" .}}{{end}}
</head>

<body>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Deep Space Place</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="/images">Deep Space</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/skymap">Sky Map</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/timelapse">Timelapse</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Equipment
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/equipment">Summary</a></li>
                                <li><a class="dropdown-item" href="/observatory">Observatory</a></li>
                                <li><a class="dropdown-item" href="/gso8rc">GSO 8" RC</a></li>
                                <li><a class="dropdown-item" href="/8se">Celestron NexStar 8 SE</a></li>
                                <li><a class="dropdown-item" href="/mn152">Maxvision MN152</a></li>
                                <li><a class="dropdown-item" href="/ed127">ED127 APO</a></li>
                                <li><a class="dropdown-item" href="/at8in">AT 8IN</a></li>
                                <li><a class="dropdown-item" href="/at12in">AT 12IN</a></li>
                                <li><a class="dropdown-item" href="/meteor">Meteor Camera</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/converter">Coordinate Converter</a></li>
                                <li><a class="dropdown-item" href="/moon">Moon Rise &amp; Set</a></li>
                                <li><a class="dropdown-item" href="/weather">Weather</a></li>
                                <li><a class="dropdown-item" href="/lightpollution">Light Pollution</a></li>
                                <li><a class="dropdown-item" href="/abbreviations">AP Terminology</a></li>
                                <li><a class="dropdown-item" href="/bahtinovmask">Bahtinov Mask</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/links">Links</a></li>
                                <li><a class="dropdown-item" href="/gso8rcpointing">GSO 8" Pointing</a></li>
                                <li><a class="dropdown-item" href="/gso8rccollimate">GSO 8" Collimation</a></li>
                                <li><a class="dropdown-item" href="/eq6">EQ6 Tuneup</a></li>
                                <li><a class="dropdown-item" href="/maximdltips">MaximDL Tips</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        {{block "content" .}}{{end}}

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" style="justify-content: center;">
                <span style="color: var(--text-tertiary); font-size: 0.8rem;">
                    &copy; Deep Space Place &middot;
                    <a href="mailto:james@deepspaceplace.com" style="color: var(--text-tertiary);">james@deepspaceplace.com</a>
                </span>
            </div>
        </nav>
    </div>
</body>
</html>
{{end}}
